<div class="selection">
  <button (click)="selectAll()" class="select">
    Select All
  </button>
  <button (click)="unselectAll()" class="unselect">
    Unselect all
  </button>
  <p>
    <label for="random_selection_count">Random selection:</label>
    <br>
    <input id="random_selection_count" type="number" [(ngModel)]="randomCount" />
    <br>
    <button (click)="randomizeSelection()">Randomize Selection</button>
  </p>
</div>

<ul class="items-list">
  <li *ngFor="let item of items" class="item" [title]="item[titleKey]" [class.selected]="selectedItems[item.id]" (click)="onItemClicked(item)">
    {{item[nameKey]}}
  </li>
</ul>
