<ng-container *ngIf="!isFetchingItems; then selectedBlock else needSelectionBlock;"></ng-container>
<ng-template #selectedBlock>
  <p *ngIf="error.length > 0" class="form-error">
    {{error}}
  </p>
  <app-item-toggle-selector [items]="verbs" [nameKey]="'finnish'" [titleKey]="'english'" [startSelected]="true" (itemClicked)="onItemToggled($event)" ></app-item-toggle-selector>
  <button (click)="start()" class="start-verb-training" [disabled]="selectedVerbs.length === 0">Start verb training</button>
</ng-template>
<ng-template #needSelectionBlock>
  <p *ngIf="isFetchingItems">
    Loading verbs...
  </p>
</ng-template>
