<h1>Verbs</h1>
<a [routerLink]="['../verb', -1]">Create new verb</a>

<app-admin-entity-list
  [listId]="0"
  [entities]="verbs"
  [doInlineEdit]="true"
  [editUrl]="'../verb'"
  [updateUrl]="'verb/update'"
  [removeUrl]="'verb/remove'"
  [keys]="['finnish', 'note']"
  [keysData]="{ 'finnish': { header: 'Verb', editable: true }, 'note': { header: 'Note', editable: true } }"
  [titles]="{ 'finnish': 'english' }"
  [editFields]="[
    {
      'label': 'Finnish',
      'key': 'finnish',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'English',
      'key': 'english',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Note',
      'key': 'note',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Minä',
      'key': 'mina',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Sinä',
      'key': 'sina',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Hän',
      'key': 'han',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Me',
      'key': 'me',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Te',
      'key': 'te',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'He',
      'key': 'he',
      'required': true,
      type: EditFieldTypes.Text
    },
    {
      'label': 'Ei',
      'key': 'ei',
      'required': true,
      type: EditFieldTypes.Text
    }
  ]"
  (removed)="removedItem($event)"
  (updateItem)="updateItem($event)"
  >
</app-admin-entity-list>
