<div id="startwrapper">
    <h1>Start a new test</h1>
    <div class="form-group">
        <label for="type">Test name</label>
        <br>
        <select [(ngModel)]="selectedIndex" required>            
            <option *ngFor="let test of tests; let i = index" [value]="i">{{test.name}}</option>                          
        </select>        
    </div>
    <button id="starttest" type="submit" class="btn btn-success" [hidden]="selectedIndex < 1" (click)="startTest()">Start test</button>
</div>