.success {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
  font-weight: bold;
}
.passed {
  background-color: #BADBAD;
}
.failed {
  background-color: lightcoral;
}
.qhidden {
  opacity: 0 !important;
  height: 0;
  overflow: hidden;
}
.answers {
  list-style: none;
}
.answers label {
  width: 100%;
}
.question-root {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 5px;
  opacity: 1;
}
.question-container {
  padding: 5px 10px;
}
[hidden] {
  display: none !important;
}