<h1>Phrases</h1>
<a [routerLink]="['../phrase', -1]">Create new phrase</a>
<ul class="item-list">
  <li *ngFor="let phrasesByCategory of phrasesByCategories">
    <h2>{{phrasesByCategory.category.name}}</h2>
    <ul class="item-list">
      <li *ngFor="let phrase of phrasesByCategory.phrases">
        <strong title="{{phrase.english}}">{{phrase.finnish}}</strong>
        <a [routerLink]="['../phrase', phrase.id]" class="edit-btn">edit</a>
        <button (click)="removeItem(phrase)">remove</button>
      </li>
    </ul>
  </li>
</ul>
