<div [ngClass]="{ 'question-passed': (isReviewed && question.isCorrect), 'question-failed': (isReviewed && !question.isCorrect), 'question-container': true }">
  <strong class="question-index">{{question.index + 1}}:</strong>
  <strong class="question-question">{{question.question}}</strong>
  <span class="question-note" *ngIf="question.note.length > 0"> - ( {{question.note}} )</span>
  <br>
  <div class="question-answers">
    <app-quiz-text-question
    *ngIf="type === QuizTypes.Text"
    [question]="question"
    [isReviewed]="isReviewed"
    (answered)="questionAnswered($event)"
    ></app-quiz-text-question>
    <app-quiz-multiple-question
      *ngIf="type === QuizTypes.MultipleChoices"
      [question]="question"
      (answered)="questionAnswered($event)"
    ></app-quiz-multiple-question>
    <p *ngIf="error.length > 0" class="form-error">
      {{error}};
    </p>
  </div>
</div>


