<div class="answers">
  <input
    #questionInput
    class="answer-text-input"
    [(ngModel)]="question.answer"
    [placeholder]="getPlaceholderText()"
    [tabindex]="question.isCorrect ? -1 : 0"
    [readonly]="question.isCorrect"
    (change)="questionAnswered()"
    (keyup)="tryFocusNext($event)"
  >
  <button
    *ngIf="isReviewed && !question.isCorrect && !revealAnswers"
    class="reveal"
    tabindex="-1"
    (click)="revealAnswers = true;"
  >Reveal Answer</button>
  <sub *ngIf="isReviewed && revealAnswers && !question.isCorrect" class="reveal"> {{ question.getCorrectAnswers().join('/') }} </sub>
</div>

