<table>
  <thead>
    <tr>
      <td *ngFor="let key of keys">
        {{keysData[key].header}}
      </td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entity of entities">
      <tr class="item-tiled">
        <td *ngFor="let key of keys"
            [title]="getTitle(entity, key)"
            [attr.contenteditable]="isEditable(key)"
            (keydown)="onColumnKeyDown($event)"
            (keyup)="onColumnKeyUp($event)"
            (blur)="onColumnBlurred(entity, key, $event)"
          >{{entity[key]}}
        </td>
        <td class="actions">
          <a [routerLink]="[editUrl, entity.id]" class="edit-btn">
            <span (click)="showEdit(entity, $event)">
              {{getEditText(entity)}}
            </span>
          </a>
          <button (click)="remove(entity)">remove</button>
        </td>
      </tr>
      <div *ngIf="isEntityCurrentlyEdited(entity)">
        <!-- admin-entity- -->
        <app-admin-entity-edit
          [listId]="listId"
          [entity]="selectedEntity"
          [fields]="editFields"
          [error]="error"
          [isWaitingForServer]="isWaitingForServer"
          [isFinished]="isFinished"
          (onupdate)="update($event)">
        </app-admin-entity-edit>
      </div>
    </ng-container>
  </tbody>
</table>
