<div>
    <h1>Test - {{test.name}}</h1>    
    <ul class="list-inline">
        <li class="question-root col-lg-6 col-md-6 col-sm-6 col-xs-12" [class.qhidden]="!question.m_visible" *ngFor="let question of questions; let i = index">
            <question-multiple [question]="question" [questionIndex]="i" (answered)="questionAnswered()"></question-multiple>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br>
    <button id="submit" class="submit btn" [class.hide]="answeredCount !== questions.length" (click)="reviewTest()">Correct test</button>    
</div>

