* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin: 5px 0;
}

.content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.form-group {
  padding: 5px 0;
}

.form-error {
  color: red;
}

.verb-row {
  display: grid;
  // 9 equal parts
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  // The inner height for each verb row
  padding: 7px 0;
  // Otherwise children with long words will take more space than 1 fr.
  min-width: 0;
}
