<div *ngIf="quiz; then quizBlock else loadingBlock;"></div>
<ng-template #quizBlock>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <h1>Quiz - {{quiz.name}}</h1>
    <div class="form-group">
      <label for="name">Quiz name:</label>
      <input type="text" id="name" name="name" required [(ngModel)]="quiz.name">
    </div>
    <br>
    <input type="submit" [value]="isNew ? 'Create Quiz' : 'Update Quiz'">

    <div *ngIf="isWaitingForServer">
      Processing server request ...
    </div>
    <div *ngIf="error" class="form-error">
      {{error}}
    </div>

    <!-- Add phrases editing component-->
    <app-admin-phrases-quiz-selection *ngIf="!isNew" [selectedPhrases]="quiz.phrases" [quizId]="quiz.id" ></app-admin-phrases-quiz-selection>

  </form>
</ng-template>
<ng-template #loadingBlock>
  fetching quiz ...
</ng-template>
